parameters:
	ignoreErrors:
		-
			message: '#^Cannot access offset ''postgres\-benchmark'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/App/src/Container/PostgresHandlerFactory.php

		-
			message: '#^Parameter \#1 \$template of class App\\Handler\\PostgresHandler constructor expects Mezzio\\Template\\TemplateRendererInterface\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/App/src/Container/PostgresHandlerFactory.php

		-
			message: '#^Parameter \#3 \$benchmarkModes of class App\\Handler\\PostgresHandler constructor expects array, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/App/src/Container/PostgresHandlerFactory.php

		-
			message: '#^Argument of an invalid type mixed supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 1
			path: src/App/src/Debug.php

		-
			message: '#^Binary operation "\*" between mixed and 1000 results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: src/App/src/Debug.php

		-
			message: '#^Binary operation "\-" between \(float\|int\<1, max\>\) and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: src/App/src/Debug.php

		-
			message: '#^Binary operation "\.\=" between mixed and string results in an error\.$#'
			identifier: assignOp.invalid
			count: 1
			path: src/App/src/Debug.php

		-
			message: '#^Call to method getProfiler\(\) on an unknown class Laminas\\Db\\Adapter\\AdapterInterface\.$#'
			identifier: class.notFound
			count: 1
			path: src/App/src/Debug.php

		-
			message: '#^Call to method getProfiles\(\) on an unknown class Laminas\\Db\\Adapter\\Profiler\\Profiler\.$#'
			identifier: class.notFound
			count: 1
			path: src/App/src/Debug.php

		-
			message: '#^Cannot access offset string\|null on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: src/App/src/Debug.php

		-
			message: '#^Cannot use array destructuring on mixed\.$#'
			identifier: offsetAccess.nonArray
			count: 1
			path: src/App/src/Debug.php

		-
			message: '#^Class Laminas\\Db\\Adapter\\AdapterInterface not found\.$#'
			identifier: class.notFound
			count: 1
			path: src/App/src/Debug.php

		-
			message: '#^Class Laminas\\Db\\Adapter\\Profiler\\Profiler not found\.$#'
			identifier: class.notFound
			count: 2
			path: src/App/src/Debug.php

		-
			message: '#^Method App\\Debug\:\:dbDebug\(\) should return string but returns Laminas\\Db\\Adapter\\Profiler\\Profiler\|string\.$#'
			identifier: return.type
			count: 1
			path: src/App/src/Debug.php

		-
			message: '#^Method App\\Debug\:\:dump\(\) has parameter \$showFullPath with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/App/src/Debug.php

		-
			message: '#^Method App\\Debug\:\:getSapi\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/App/src/Debug.php

		-
			message: '#^Method App\\Debug\:\:setSapi\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/App/src/Debug.php

		-
			message: '#^Offset ''file'' might not exist on array\{function\: string, line\?\: int, file\?\: string, class\?\: class\-string, type\?\: ''\-\>''\|''\:\:'', args\?\: list\<mixed\>, object\?\: object\}\.$#'
			identifier: offsetAccess.notFound
			count: 2
			path: src/App/src/Debug.php

		-
			message: '#^Offset ''line'' might not exist on array\{function\: string, line\?\: int, file\?\: string, class\?\: class\-string, type\?\: ''\-\>''\|''\:\:'', args\?\: list\<mixed\>, object\?\: object\}\.$#'
			identifier: offsetAccess.notFound
			count: 1
			path: src/App/src/Debug.php

		-
			message: '#^PHPDoc tag @return has invalid value \(string;\)\: Unexpected token ";", expected TOKEN_HORIZONTAL_WS at offset 141 on line 5$#'
			identifier: phpDoc.parseError
			count: 1
			path: src/App/src/Debug.php

		-
			message: '#^PHPDoc tag @return has invalid value \(void;\)\: Unexpected token ";", expected TOKEN_HORIZONTAL_WS at offset 163 on line 6$#'
			identifier: phpDoc.parseError
			count: 1
			path: src/App/src/Debug.php

		-
			message: '#^PHPDoc tag @var contains unknown class Laminas\\Db\\Adapter\\Profiler\\Profiler\.$#'
			identifier: class.notFound
			count: 1
			path: src/App/src/Debug.php

		-
			message: '#^PHPDoc tag @var with type Laminas\\Db\\Adapter\\Profiler\\Profiler is not subtype of native type ''''\.$#'
			identifier: varTag.nativeType
			count: 1
			path: src/App/src/Debug.php

		-
			message: '#^Parameter \#1 \$string of function htmlspecialchars expects string, string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/App/src/Debug.php

		-
			message: '#^Parameter \#3 \$subject of function preg_replace expects array\<float\|int\|string\>\|string, string\|false given\.$#'
			identifier: argument.type
			count: 1
			path: src/App/src/Debug.php

		-
			message: '#^Parameter \$adapter of method App\\Debug\:\:dbDebug\(\) has invalid type Laminas\\Db\\Adapter\\AdapterInterface\.$#'
			identifier: class.notFound
			count: 1
			path: src/App/src/Debug.php

		-
			message: '#^Argument of an invalid type PhpDb\\Adapter\\Driver\\ResultInterface\|PhpDb\\Adapter\\Driver\\StatementInterface\|PhpDb\\ResultSet\\ResultSetInterface supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 1
			path: src/App/src/Handler/PostgresHandler.php

		-
			message: '#^Argument of an invalid type mixed supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 4
			path: src/App/src/Handler/PostgresHandler.php

		-
			message: '#^Cannot access offset ''concurrent'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/App/src/Handler/PostgresHandler.php

		-
			message: '#^Cannot access offset ''created_at'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 3
			path: src/App/src/Handler/PostgresHandler.php

		-
			message: '#^Cannot access offset ''email'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/App/src/Handler/PostgresHandler.php

		-
			message: '#^Cannot access offset ''name'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/App/src/Handler/PostgresHandler.php

		-
			message: '#^Cannot access offset ''order_id'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/App/src/Handler/PostgresHandler.php

		-
			message: '#^Cannot access offset ''price'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/App/src/Handler/PostgresHandler.php

		-
			message: '#^Cannot access offset ''product_id'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/App/src/Handler/PostgresHandler.php

		-
			message: '#^Cannot access offset ''quantity'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/App/src/Handler/PostgresHandler.php

		-
			message: '#^Cannot access offset ''response'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/App/src/Handler/PostgresHandler.php

		-
			message: '#^Cannot access offset ''status'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/App/src/Handler/PostgresHandler.php

		-
			message: '#^Cannot access offset ''stock'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/App/src/Handler/PostgresHandler.php

		-
			message: '#^Cannot access offset ''total'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/App/src/Handler/PostgresHandler.php

		-
			message: '#^Cannot access offset ''unit_price'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/App/src/Handler/PostgresHandler.php

		-
			message: '#^Cannot access offset ''user_id'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/App/src/Handler/PostgresHandler.php

		-
			message: '#^Cannot access offset ''username'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/App/src/Handler/PostgresHandler.php

		-
			message: '#^Cannot call method getPlatform\(\) on PhpDb\\Async\\Adapter\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: src/App/src/Handler/PostgresHandler.php

		-
			message: '#^Cannot call method query\(\) on PhpDb\\Async\\Adapter\|null\.$#'
			identifier: method.nonObject
			count: 8
			path: src/App/src/Handler/PostgresHandler.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 15
			path: src/App/src/Handler/PostgresHandler.php

		-
			message: '#^Method App\\Handler\\PostgresHandler\:\:__construct\(\) has parameter \$benchmarkModes with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/App/src/Handler/PostgresHandler.php

		-
			message: '#^Method App\\Handler\\PostgresHandler\:\:fetchRows\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/App/src/Handler/PostgresHandler.php

		-
			message: '#^Method App\\Handler\\PostgresHandler\:\:loadSeed\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/App/src/Handler/PostgresHandler.php

		-
			message: '#^Method App\\Handler\\PostgresHandler\:\:loadSeed\(\) should return array but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/App/src/Handler/PostgresHandler.php

		-
			message: '#^Method App\\Handler\\PostgresHandler\:\:renderResponse\(\) has parameter \$queryProfiles with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/App/src/Handler/PostgresHandler.php

		-
			message: '#^Method App\\Handler\\PostgresHandler\:\:renderResponse\(\) has parameter \$results with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/App/src/Handler/PostgresHandler.php

		-
			message: '#^Method App\\Handler\\PostgresHandler\:\:runConcurrently\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 4
			path: src/App/src/Handler/PostgresHandler.php

		-
			message: '#^Method App\\Handler\\PostgresHandler\:\:runSequentially\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 4
			path: src/App/src/Handler/PostgresHandler.php

		-
			message: '#^Method App\\Handler\\PostgresHandler\:\:seed\(\) has parameter \$data with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/App/src/Handler/PostgresHandler.php

		-
			message: '#^Method App\\Handler\\PostgresHandler\:\:seed\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/App/src/Handler/PostgresHandler.php

		-
			message: '#^PHPDoc tag @var for variable \$results has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 4
			path: src/App/src/Handler/PostgresHandler.php

		-
			message: '#^Parameter \#1 \$mode of method App\\Handler\\PostgresHandler\:\:query\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/App/src/Handler/PostgresHandler.php

		-
			message: '#^Parameter \#1 \$value of function count expects array\|Countable, mixed given\.$#'
			identifier: argument.type
			count: 4
			path: src/App/src/Handler/PostgresHandler.php

		-
			message: '#^Parameter \#4 \$responseType of method App\\Handler\\PostgresHandler\:\:renderResponse\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/App/src/Handler/PostgresHandler.php

		-
			message: '#^Method Mezzio\\Async\\ConfigProvider\:\:__invoke\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/mezzio-async/src/ConfigProvider.php

		-
			message: '#^Method Mezzio\\Async\\ConfigProvider\:\:getDefaultConfig\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/mezzio-async/src/ConfigProvider.php

		-
			message: '#^Method Mezzio\\Async\\ConfigProvider\:\:getDependencies\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/mezzio-async/src/ConfigProvider.php

		-
			message: '#^Parameter \#1 \$stream of function fread expects resource, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: src/mezzio-async/src/Http/RequestParser.php

		-
			message: '#^Parameter \#3 \$length of function substr expects int\|null, int\<0, max\>\|false given\.$#'
			identifier: argument.type
			count: 1
			path: src/mezzio-async/src/Http/RequestParser.php

		-
			message: '#^Parameter \#1 \$requestFactory of class Mezzio\\Async\\Http\\RequestParser constructor expects Mezzio\\Async\\Http\\ServerRequestFactory, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/mezzio-async/src/Http/RequestParserFactory.php

		-
			message: '#^Parameter \#1 \$stream of function fwrite expects resource, mixed given\.$#'
			identifier: argument.type
			count: 5
			path: src/mezzio-async/src/Http/ResponseEmitter.php

		-
			message: '#^Parameter \#1 \$callable of method Async\\Scope\:\:spawn\(\) expects Closure, callable\(mixed, string\)\: void given\.$#'
			identifier: argument.type
			count: 1
			path: src/mezzio-async/src/Http/Server.php

		-
			message: '#^Cannot access offset ''host'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/mezzio-async/src/Http/ServerFactory.php

		-
			message: '#^Cannot access offset ''http\-server'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/mezzio-async/src/Http/ServerFactory.php

		-
			message: '#^Cannot access offset ''mezzio\-async'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/mezzio-async/src/Http/ServerFactory.php

		-
			message: '#^Cannot access offset ''port'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/mezzio-async/src/Http/ServerFactory.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 1
			path: src/mezzio-async/src/Http/ServerFactory.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 1
			path: src/mezzio-async/src/Http/ServerFactory.php

		-
			message: '#^Parameter \$logger of class Mezzio\\Async\\Http\\Server constructor expects Psr\\Log\\LoggerInterface, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/mezzio-async/src/Http/ServerFactory.php

		-
			message: '#^Parameter \$headers of class Laminas\\Diactoros\\ServerRequest constructor expects array\<non\-empty\-string, array\<string\>\|string\>, array\<string, array\<string\>\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/mezzio-async/src/Http/ServerRequestFactory.php

		-
			message: '#^Parameter \#1 \$stream of function fwrite expects resource, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/mezzio-async/src/Http/StaticFileHandler.php

		-
			message: '#^Binary operation "\." between mixed and ''/async\.log'' results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: src/mezzio-async/src/Log/LoggerDelegator.php

		-
			message: '#^Cannot access offset ''log_dir'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/mezzio-async/src/Log/LoggerDelegator.php

		-
			message: '#^Cannot access offset ''mezzio\-async'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/mezzio-async/src/Log/LoggerDelegator.php

		-
			message: '#^Parameter \#1 \$directory of function mkdir expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/mezzio-async/src/Log/LoggerDelegator.php

		-
			message: '#^Parameter \#1 \$filename of function is_dir expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/mezzio-async/src/Log/LoggerDelegator.php

		-
			message: '#^Parameter \#1 \$stream of function fclose expects resource, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: src/mezzio-async/src/Runner/AsyncRunner.php

		-
			message: '#^Parameter \$emitter of class Mezzio\\Async\\Runner\\AsyncRunner constructor expects Mezzio\\Async\\Http\\ResponseEmitter, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/mezzio-async/src/Runner/AsyncRunnerFactory.php

		-
			message: '#^Parameter \$handler of class Mezzio\\Async\\Runner\\AsyncRunner constructor expects Psr\\Http\\Server\\RequestHandlerInterface, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/mezzio-async/src/Runner/AsyncRunnerFactory.php

		-
			message: '#^Parameter \$logger of class Mezzio\\Async\\Runner\\AsyncRunner constructor expects Psr\\Log\\LoggerInterface, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/mezzio-async/src/Runner/AsyncRunnerFactory.php

		-
			message: '#^Parameter \$parser of class Mezzio\\Async\\Runner\\AsyncRunner constructor expects Mezzio\\Async\\Http\\RequestParser, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/mezzio-async/src/Runner/AsyncRunnerFactory.php

		-
			message: '#^Parameter \$server of class Mezzio\\Async\\Runner\\AsyncRunner constructor expects Mezzio\\Async\\Http\\Server, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/mezzio-async/src/Runner/AsyncRunnerFactory.php

		-
			message: '#^Parameter \$staticFiles of class Mezzio\\Async\\Runner\\AsyncRunner constructor expects Mezzio\\Async\\Http\\StaticFileHandler, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/mezzio-async/src/Runner/AsyncRunnerFactory.php

		-
			message: '#^Cannot call method createStatement\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/phpdb-async/src/Adapter.php

		-
			message: '#^Cannot call method query\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/phpdb-async/src/Adapter.php

		-
			message: '#^Method PhpDb\\Async\\Adapter\:\:createStatement\(\) has parameter \$initialParameters with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/phpdb-async/src/Adapter.php

		-
			message: '#^Method PhpDb\\Async\\Adapter\:\:createStatement\(\) has parameter \$initialParameters with no value type specified in iterable type array\|PhpDb\\Adapter\\ParameterContainer\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/phpdb-async/src/Adapter.php

		-
			message: '#^Method PhpDb\\Async\\Adapter\:\:getHelpers\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/phpdb-async/src/Adapter.php

		-
			message: '#^Method PhpDb\\Async\\Adapter\:\:query\(\) has parameter \$parametersOrQueryMode with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/phpdb-async/src/Adapter.php

		-
			message: '#^Method PhpDb\\Async\\Adapter\:\:query\(\) should return PhpDb\\Adapter\\Driver\\ResultInterface\|PhpDb\\Adapter\\Driver\\StatementInterface\|PhpDb\\ResultSet\\ResultSetInterface but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/phpdb-async/src/Adapter.php

		-
			message: '#^Parameter \#1 \$inner of class PhpDb\\Async\\Statement constructor expects PhpDb\\Adapter\\Driver\\StatementInterface, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/phpdb-async/src/Adapter.php

		-
			message: '#^Parameter \#3 \$acquiredAdapter of class PhpDb\\Async\\Statement constructor expects PhpDb\\Adapter\\AdapterInterface, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: src/phpdb-async/src/Adapter.php

		-
			message: '#^Method PhpDb\\Async\\ConfigProvider\:\:__invoke\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/phpdb-async/src/ConfigProvider.php

		-
			message: '#^Method PhpDb\\Async\\ConfigProvider\:\:getDependencies\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/phpdb-async/src/ConfigProvider.php

		-
			message: '#^Cannot access offset ''PhpDb\\\\Adapter\\\\AdapterInterface'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/phpdb-async/src/Container/AbstractAdapterFactory.php

		-
			message: '#^Cannot access offset ''adapters'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/phpdb-async/src/Container/AbstractAdapterFactory.php

		-
			message: '#^Cannot access offset ''connection'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/phpdb-async/src/Container/AbstractAdapterFactory.php

		-
			message: '#^Cannot access offset ''healthcheck_interval_ms'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/phpdb-async/src/Container/AbstractAdapterFactory.php

		-
			message: '#^Cannot access offset ''max'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/phpdb-async/src/Container/AbstractAdapterFactory.php

		-
			message: '#^Cannot access offset ''min'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/phpdb-async/src/Container/AbstractAdapterFactory.php

		-
			message: '#^Cannot access offset ''pool'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/phpdb-async/src/Container/AbstractAdapterFactory.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 3
			path: src/phpdb-async/src/Container/AbstractAdapterFactory.php

		-
			message: '#^Method PhpDb\\Async\\Container\\AbstractAdapterFactory\:\:getNamedAdapterConfig\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/phpdb-async/src/Container/AbstractAdapterFactory.php

		-
			message: '#^Parameter \#1 \$connectionConfig of class PhpDb\\Async\\Container\\ConnectionManager constructor expects array, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/phpdb-async/src/Container/AbstractAdapterFactory.php

		-
			message: '#^Property PhpDb\\Async\\Container\\AbstractAdapterFactory\:\:\$config \(array\|null\) does not accept mixed\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/phpdb-async/src/Container/AbstractAdapterFactory.php

		-
			message: '#^Property PhpDb\\Async\\Container\\AbstractAdapterFactory\:\:\$config type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/phpdb-async/src/Container/AbstractAdapterFactory.php

		-
			message: '#^Cannot access offset ''PhpDb\\\\Adapter\\\\AdapterInterface'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/phpdb-async/src/Container/AdapterFactory.php

		-
			message: '#^Cannot access offset ''connection'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/phpdb-async/src/Container/AdapterFactory.php

		-
			message: '#^Cannot access offset ''healthcheck_interval_ms'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/phpdb-async/src/Container/AdapterFactory.php

		-
			message: '#^Cannot access offset ''max'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/phpdb-async/src/Container/AdapterFactory.php

		-
			message: '#^Cannot access offset ''min'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/phpdb-async/src/Container/AdapterFactory.php

		-
			message: '#^Cannot access offset ''pool'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/phpdb-async/src/Container/AdapterFactory.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 3
			path: src/phpdb-async/src/Container/AdapterFactory.php

		-
			message: '#^Parameter \#1 \$connectionConfig of class PhpDb\\Async\\Container\\ConnectionManager constructor expects array, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/phpdb-async/src/Container/AdapterFactory.php

		-
			message: '#^Method PhpDb\\Async\\Container\\ConnectionManager\:\:__construct\(\) has parameter \$connectionConfig with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/phpdb-async/src/Container/ConnectionManager.php

		-
			message: '#^Method PhpDb\\Async\\Pgsql\\Connection\:\:execute\(\) has parameter \$sql with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/phpdb-async/src/Pgsql/Connection.php

		-
			message: '#^Parameter \#1 \$connection of function pg_connection_busy expects PgSql\\Connection, PgSql\\Connection\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/phpdb-async/src/Pgsql/Connection.php

		-
			message: '#^Parameter \#1 \$connection of function pg_get_result expects PgSql\\Connection, PgSql\\Connection\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/phpdb-async/src/Pgsql/Connection.php

		-
			message: '#^Parameter \#1 \$connection of function pg_send_query expects PgSql\\Connection, PgSql\\Connection\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/phpdb-async/src/Pgsql/Connection.php

		-
			message: '#^Parameter \#1 \$target of method PhpDb\\Adapter\\Profiler\\ProfilerInterface\:\:profilerStart\(\) expects PhpDb\\Adapter\\StatementContainerInterface\|string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/phpdb-async/src/Pgsql/Connection.php

		-
			message: '#^Parameter \#2 \$query of function pg_send_query expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/phpdb-async/src/Pgsql/Connection.php

		-
			message: '#^Property PhpDb\\Adapter\\Profiler\\Profiler\:\:\$profiles \(array\<array\{sql\: string, parameters\: PhpDb\\Adapter\\ParameterContainer\|null, start\: float, end\: float\|null, elapse\: float\|null\}\>\) does not accept non\-empty\-array\<array\{sql\: string, parameters\: PhpDb\\Adapter\\ParameterContainer\|null, start\: float, end\: float\|null, elapse\: float\|null\}\|array\{sql\: string\|null, parameters\: PhpDb\\Adapter\\ParameterContainer\|null, start\: \(float\|int\<1, max\>\), end\: null, elapse\: null, elapsed_ms\: null, wall_start\: float\}\>\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/phpdb-async/src/Profiler/Profiler.php

		-
			message: '#^Method PhpDb\\Async\\Statement\:\:execute\(\) has parameter \$parameters with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/phpdb-async/src/Statement.php

		-
			message: '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertTrue\(\) with true will always evaluate to true\.$#'
			identifier: staticMethod.alreadyNarrowedType
			count: 1
			path: test/MezzioTest/Async/Http/ServerTest.php

		-
			message: '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertTrue\(\) with true will always evaluate to true\.$#'
			identifier: staticMethod.alreadyNarrowedType
			count: 1
			path: test/MezzioTest/Async/Runner/AsyncRunnerTest.php
